.page-link {
    padding: 0.594rem 0.35rem;
    min-width: calc(1.938rem + 0px);
    font-size: 0.75rem;
    line-height: 1;
}

.table_info {
    padding-top: 0.5rem;
    font-size: 0.8125rem;
    color: #a5a3ae !important;
}

.sortable {
    cursor: pointer;
}

/*.select2-container{*/
/*    z-index: 99999;*/
/*}*/

.required{
    color: red;
}
