.page-link {
    padding: 0.594rem 0.35rem;
    min-width: calc(1.938rem + 0px);
    font-size: 0.75rem;
    line-height: 1;
}

.table_info {
    padding-top: 0.5rem;
    font-size: 0.8125rem;
    color: #a5a3ae !important;
}

.sortable {
    cursor: pointer;
}


/* .select-custom > .select2-container {
    z-index: 99999;
} */

.required {
    color: red;
}

.swal2-cancel {
    color: #ea5455 !important;
    border-color: transparent !important;
    background: #fce4e4 !important;
}

.swal2-confirm {
    color: #fff !important;
    background-color: #7367f0 !important;
    border-color: #7367f0 !important;
}

.swal2-html-container {
    margin-top: 0px !important;
    margin-bottom: 0.5rem !important;
}

.swal2-title {
    margin-top: 0.25rem !important;
    margin-bottom: 0px !important;
}

body {
    overflow-x: hidden;
}

.input-group:focus-within {
    box-shadow: unset !important;
}

.v-invalid-feedback,
.custom-invalid-feedback {
    display: block;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 0.8125rem;
    color: #ea5455;
}

.swal2-warning .swal2-icon-content {
    font-size: 4rem !important;
}

.swal2-warning {
    width: 60px !important;
    height: 60px !important;
}

.swal2-info .swal2-icon-content {
    font-size: 4rem !important;
}

.swal2-info {
    width: 60px !important;
    height: 60px !important;
}

.btn-link-primary {
    color: white !important;

}


/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #fbfbfc;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(115, 103, 240, 0.34);
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #7367f0;
}

.select2-selection__clear{
    color: red;
}

