.page-link {
    padding: 0.594rem 0.35rem;
    min-width: calc(1.938rem + 0px);
    font-size: 0.75rem;
    line-height: 1;
}

.table_info {
    padding-top: 0.5rem;
    font-size: 0.8125rem;
    color: #a5a3ae !important;
}

.sortable {
    cursor: pointer;
}


/*.select2-container{*/


/*    z-index: 99999;*/


/*}*/

.required {
    color: red;
}

.swal2-cancel {
    color: #ea5455 !important;
    border-color: transparent !important;
    background: #fce4e4 !important;
}

.swal2-confirm {
    color: #fff !important;
    background-color: #7367f0 !important;
    border-color: #7367f0 !important;
}

.swal2-html-container {
    margin-top: 0px !important;
    margin-bottom: 0.5rem !important;
}

.swal2-title {
    margin-top: 0.25rem !important;
    margin-bottom: 0px !important;
}

body {
    overflow-x: hidden;
}

.swal2-icon .swal2-icon-content {
    font-size: 4rem !important;
}

.swal2-icon {
    width: 60px !important;
    height: 60px !important;
}